<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css"/>
    <title>Colorimetria segun Ro</title>
  </head>
  <header>
      <img src="/img/header.jpeg" alt="peluqueria">
      <div class="containerBox1">
        
      </div>
  </header>
  <body>
    <h1>Estimado lector:</h1>
    <p>
      Esta pagina es un proyecto que nace de dos proyectos que estoy estudiando
      al mismo tiempo,por un lado mi amor por la peluqueria con la profesora
      Vale, y por el otro mi amor por entender como funciona la programación con
      los profesores Jona,maty y vicky.
    </p>
    <p> aqui nace <strong> ColorimetriaSegunRo</strong></p>

<h2> Seguridad E higiene
    
</h2>
  </body>
</html>
