<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css"/>
    <title>Colorimetria segun Ro</title>
  </head>
  <header>
    <div class="barra"> 
    <div><a href="/"><img src="/img/header.jpeg" alt="peluqueria"></a> </div>
    <div class="barra2"> <input type="text" name="" id=""></div>
  

  </div>
  </header>
  <body>
   
  </body>
</html>
